.editor {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.editor main {
    flex-grow: 1;
    min-width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

main aside {
    overflow-y: auto;
    position: relative;
    background-color: #333;
    padding-left: 50px;
    flex-shrink: 0;
}
main aside .tabs {
    position: absolute;
    height: calc(100% - 50px);
    padding-top: 50px;
    right: calc(100% - 50px);
    background-color: #242424;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tabs .tab {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: #333;
    border-radius: 5px 0 0 5px;
    outline: none !important;
}
.tabs .tab.active {
    background-color: #555;
}
main aside header {
    background-color: #333;
    position: sticky;
    top: 0;
    height: 38px;
    margin: 0;
    border-bottom: 2px solid white;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    z-index: 1;
}
main aside header h2 {
    margin: 0;
    flex-grow: 1;
}

main aside h3 {
    background-color: #777;
    box-shadow: 0 2px 10px #333;
    font-size: 1.3em;
    top: 50px;
    height: 20px;
    margin: 0;
    padding: 10px 5px;
    z-index: 1;

    user-select: none;
    cursor: pointer;
}
main .texture {
    position: relative;
    max-height: calc(100% - 20px);
    display: inline-block;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    
    margin: 20px;
    margin-right: 5px;
    background-color: #fff;
    background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(-45deg, #ccc 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    line-height: 0;

}
main .texture img, main .texture canvas {
    width: min(100%, calc(100vh - 20px));
    height: min(100%, calc(100vh - 20px));
    max-height: min(100%, calc(100vh - 20px));
    object-fit: contain;
}