:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --sidebar-dark: #363636;
  --sidebar-light: #434343;
  --success: #57F287;
  --danger: #ED4245;
  --warning: #FEE75C;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}
html, body {
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#app > main > header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 20px);

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
button svg {
  transform: scale(1.5);
}
button:disabled {
  cursor: not-allowed;
}
button:not(button:disabled):hover {
  border-color: #646cff;
}
button:not(button:disabled):focus,
button:not(button:disabled):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}